
{% extends "layout.html" %}

{% block content %}
    <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-sm">
        <input id="searchInput" class="form-control" type="search" placeholder="Buscar Producto" aria-label="Search">
      </div>
    </div>
  </div>
</div>





    <div class="container">
      {{ pagination.links }}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto </th>
              <th>Categoria </th>
              <th>Cantidad </th>
              <th>Costo </th>
              <th>Precio de venta </th>


            </tr>
          </thead>
          <tbody id="miTablaBody">
            {% for p in products %}
            <tr>
              <td>{{ loop.index + (page - 1) * per_page }} </td>

              <td id="nombre">{{ p["nombre"] }}  </td>
              <td>{{ p["categoria"] }}  </td>
              <td>{{ p["cantidad"] }}  </td>
              <td>{{ p["costo"] }}  </td>
              <td>{{ p["precio_venta"] }}  </td>


            </tr>
            {% endfor %}
          </tbody >
        </table>
      </div>
      {{ pagination.links }}
    </div>
    <script src="../static/script.js"></script>
{% endblock %}