<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>BBB Checkout</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/estilopago.css">
      <script src="https://kit.fontawesome.com/95dc01c56b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/carrito.css">


    <!-- Custom styles for this template -->
    <link href="../static/checkout.css" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">

  <nav class="navbar navbar-expand-xl navbar-light custom-navbar" style="background-color: #e3f2fd; border: 1px solid #ddd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="../static/recorte.jpeg" alt="" style="width: 50px; height: 50px;"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"> Inicio </a>
                </li>
      </ul>
        <div class="d-flex p-3" id="carritoContainer">

            <div id="carritoDiv" class="contenedor"> Carrito Actual <button type="button" class="btn btn-danger" onclick="eliminarCarrito()">Borrar Carrito</button>
                <table class="table table-hover" id="carritoTable">
                    <tr>
                        <th> # </th>
                        <th> Elemento </th>
                        <th> Cantidad </th>
                    </tr>
                    <tbody>

                    </tbody>
                </table>


            </div>

        </div>

        <div class="d-flex">
            <a href="/logout" class="nav-link"> Cerrar Sesion</a>
        </div>
    </div>

  </div>
</nav>



<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Informacion de la orden</h2>
    </div>

    <div class="row g-5">
              <!-- Inicio del div -->
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Articulos en el carrito</span>
          <span class="badge bg-primary rounded-pill" id="cartqty"></span>
        </h4>
        <ul class="list-group mb-3" id="begin">

          <li class="list-group-item d-flex justify-content-between" id="liTotal">
            <span>Total (USD)</span>
            <strong id="total"></strong>
          </li>
        </ul>

              <!-- Fin del div -->
      </div>

      <div class="col-md-7 col-lg-8" id="datos">
        <h4 class="mb-3"></h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Introduzca un nombre
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Introduzca un apellido
              </div>
            </div>


            <div class="col-12">
              <label for="email" class="form-label">Correo <span class="text-body-secondary">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Ingrese un correo valido
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Direccion  <span class="text-body-secondary">(Opcional)</span> </label>
              <input type="text" class="form-control" id="address" placeholder="1539 N. Calvert">
              <div class="invalid-feedback">

              </div>
            </div>





          <h4 class="mb-3">Forma de pago</h4>

          <div class="my-3">
    <div class="form-check">
        <input id="efectivo" name="pago" type="radio" class="form-check-input" checked required>
        <label class="form-check-label" for="efectivo">Efectivo</label>
    </div>
    <div class="form-check">
        <input id="transferencia" name="pago" type="radio" class="form-check-input" required>
        <label class="form-check-label" for="transferencia">Transferencia</label>
    </div>
    <div class="form-check">
        <input id="tarjeta" name="pago" type="radio" class="form-check-input" required>
        <label class="form-check-label" for="tarjeta">Tarjeta</label>
    </div>
        </div>



          <h4 class="mb-3">Entrega</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="local" name="entrega" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="local">Local</label>
            </div>
            <div class="form-check">
              <input id="delivery" name="entrega" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="delivery">Delivery</label>
            </div>
              <label for="inputDelivery" class="form-check-label">Monto (Córdobas)</label>
              <input type="number" class="form-control" name="delivery" disabled="" id="inputDelivery" min="0">
          </div>






          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Procesar Pago</button>
              </div>
        </form>

      </div>
    </div>
  </main>

</div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/checkout.css"></script>
    <script src="../static/carrito.js"></script>
  <script src="../static/checkout.js"></script>

  </body>
</html>
