{% extends "layout.html" %}


{% block content %}

    <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Registrar nuevo producto</div>
          <div class="card-body">
            <form method="POST" action="/registrar-producto">

              <div class="mb-3 row">
                <label for="nombre" class="col-md-4 col-form-label text-md-end">Nombre</label>

                <div class="col-md-6">
                  <input id="nombre" type="nombre" class="form-control" name="nombre" autocomplete="nombre" autofocus>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="costo" class="col-md-4 col-form-label text-md-end">Costo</label>

                <div class="col-md-6">
                  <input id="costo" type="number" class="form-control" name="costo" autocomplete="costo" step="0.01" autofocus>
                </div>
              </div>

              <div class="mb-3 row">
                <label for="precio-venta" class="col-md-4 col-form-label text-md-end">Precio de Venta</label>

                <div class="col-md-6">
                  <input id="precio-venta" type="number" class="form-control" name="precio-venta" autocomplete="precio-venta" autofocus>
                </div>
              </div>

                <div class="mb-3 row">
                <label for="categoria" class="col-md-4 col-form-label text-md-end">Categoria</label>

                <div class="col-md-6">
                  <input id="categoria" type="nombre" class="form-control" name="categoria" autocomplete="categoria" autofocus>
                </div>
              </div>


                <div class="mb-3 row">
                <label for="imagen" class="col-md-4 col-form-label text-md-end">Imagen</label>

                <div class="col-md-6">
                  <input id="imagen" type="file" class="form-control" name="imagen" autocomplete="imagen" autofocus>
                </div>
              </div>


                <div class="mb-3 row">
                <label for="ganancia-neta" class="col-md-4 col-form-label text-md-end">Ganancia Neta</label>

                <div class="col-md-6">
                  <input id="ganancia-neta" class="form-control" type="text"  readonly>
                </div>
              </div>

                <div class="mb-3 row">
                <label for="porcentaje" class="col-md-4 col-form-label text-md-end">Porcentaje Ganancia</label>

                <div class="col-md-6">
                  <input id="porcentaje" class="form-control" type="text"  readonly>
                </div>
              </div>



              <div class="mb-3 row">
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">Añadir Producto</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
<script src="../static/agregar.js"> </script>
<script src="../static/carrito.js"> </script>

{% endblock %}