<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>BBB Checkout</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/estilopago.css">
      <script src="https://kit.fontawesome.com/95dc01c56b.js" crossorigin="anonymous"></script>



    <!-- Custom styles for this template -->
    <link href="../static/checkout.css" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">

  <nav class="navbar navbar-expand-xl navbar-light custom-navbar" style="background-color: #e3f2fd; border: 1px solid #ddd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="../static/recorte.jpeg" alt="" style="width: 50px; height: 50px;"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"> Inicio </a>
                </li>
      </ul>


        <div class="d-flex">
            <a href="/logout" class="nav-link"> Cerrar Sesion</a>
        </div>
    </div>

  </div>
</nav>



<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Reporte de transacciones</h2>

        
    </div>

      <div class="container">
  <form class="row g-2">
    <div class="col-6">
      <label for="fecha_inicio" class="col-form-label">Fecha Inicio</label>
      <div class="input-group date" id="datepicker1">
        <input type="date" class="form-control" value="{{ fecha_formateada }}" max="{{ fecha_formateada }}" name="fecha_inicio" id="fecha_inicio">
        <span class="input-group-append"></span>
      </div>
    </div>

    <div class="col-6">
      <label for="fecha_fin" class="col-form-label">Fecha Fin</label>
      <div class="input-group date" id="datepicker2">
        <input type="date" class="form-control" value="{{ fecha_formateada }}" name="fecha_fin" id="fecha_fin">
        <span class="input-group-append"></span>
      </div>
    </div>
  </form>
       <hr class="my-4">
</div>


    <div class="row g-5">
              <!-- Inicio del div -->
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Detalles del reporte</span>
        </h4>
        <ul class="list-group mb-3">
              <!-- Start -->
          <li class="list-group-item d-flex justify-content-center lh-sm">
            <div>
              <!-- PRODUCTS GENERATED BY THE SHOPPING CART -->
              <h5 class="my-0">Resumen General </h5>
            </div>
          </li>

            <!-- end -->

          <li class="list-group-item d-flex justify-content-between lh-sm" id="pvendidos-container">
              <h6 class="my-0">Productos Vendidos</h6>
            <span class="text-body-secondary" id="productos_vendidos"></span>
          </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="tventas-container">
                <h6 class="my-0">Ventas Totales</h6>
                <span class="text-body-secondary" id="total_ventas"></span>
          </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="tfacturado-container">
                <strong class="my-0">  Total Facturado</strong>
                <strong id="total_facturado"> </strong>
            </li>
            <hr class="my-4">

          <li class="list-group-item d-flex justify-content-center lh-sm">
              <h5 class="my-0">Detalles por forma de pago</h5>
          </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="cventas_efectivo_container">
                <h6 class="my-0">Ventas Efectivo</h6>
                <span class="text-body-secondary" id="cantidad_ventas_efectivo"></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="cventas_transferencia_container">
                <h6 class="my-0">Ventas Transferencia</h6>
                <span class="text-body-secondary" id="cantidad_ventas_transferencia"></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="cventas_trajeta_container">
                <h6 class="my-0">Ventas Tarjeta</h6>
                <span class="text-body-secondary" id="cantidad_ventas_tarjeta"></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-sm" id="tventas-container">
                <strong  class="my-0">Total ventas</strong>
                <strong class="text-body-secondary" id="total_ventas"></strong>
            </li>
            <hr class="my-4">

            <li class="list-group-item d-flex justify-content-center">
                <h5 class="my-0">Detalle por entrega</h5>
          </li>

          <li class="list-group-item d-flex justify-content-between lh-sm" id="tventas-container">
                <h6 class="my-0">Local</h6>
                <span class="text-body-secondary" id="entregas_local">0</span>
          </li>

          <li class="list-group-item d-flex justify-content-between lh-sm" id="tventas-container">
                <h6 class="my-0">Delivery</h6>
                <span class="text-body-secondary" id="entregas_delivery">0</span>
          </li>


          <li class="list-group-item d-flex justify-content-between">
            <strong>Total Entregas</strong>
            <strong id="total_ventas"></strong>
          </li>
            <hr class="my-4">

            <li class="list-group-item d-flex justify-content-center lh-sm" id="tventas-container">
                <h5 class="my-0">Total Sistema</h5>
          </li>

            <li class="list-group-item d-flex justify-content-between">
            <h6>Efectivo</h6>
            <span id="monto_efectivo"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <h6>Transferencia</h6>
            <span id="monto_transferencia"></span>
          </li>
            <li class="list-group-item d-flex justify-content-between">
            <h6>Tarjeta</h6>
            <span id="monto_tarjeta"></span>
          </li>
            <li class="list-group-item d-flex justify-content-between lh-sm" id="tfacturado-container">
                <strong class="my-0">  Total Facturado</strong>
                <strong id="total_facturado"></strong>
            </li>
            <hr class="my-4">


            <li class="list-group-item d-flex justify-content-center lh-sm">
                <h5 class="my-0">Recaudacion</h5>
          </li>

            <li class="list-group-item d-flex justify-content-between">
            <h6>Productos</h6>
            <span id="monto_ventas"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <h6>Delivery (Cordobas)</h6>
            <span id="monto_delivery"></span>
          </li>
            <li class="list-group-item d-flex justify-content-between">
            <strong>Total Cordobas</strong>
            <span id="monto_cordobas"> </span>

          </li>
            <li class="list-group-item d-flex justify-content-between">
            <strong> Total Dolares</strong>
            <strong class="my-0" id="total_facturado"></strong>

          </li>




        </ul>


              <!-- Fin del div -->
      </div>

      <div class="col-md-7 col-lg-8" id="datos">
          <div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>Transacción</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            <th>Forma de pago</th>
            <th>Entrega</th>
            <th>Categoria</th>

        </tr>
      </thead>
      <tbody id="tabla_body">
        <tr>


        </tr>
      </tbody>
    </table>
  </div>
</div>





      </div>
    </div>
  </main>

</div>


    <script src="../static/checkout.css"></script>
  <script src="../static/reportes.js" defer></script>

  </body>
</html>
